.container-fluid

  .row.mb-4
    .owl-carousel.owl-theme
        .promo-slider
            .promo-slider-img(style='background: url(img/1.jpg) center no-repeat; background-size: cover;')
            .promo-slider-inner
                a(href='/')
                    h1 Герои 
                    p 
        .promo-slider
            .promo-slider-img(style='background: url(img/2.jpg) center no-repeat; background-size: cover;')
            .promo-slider-inner
                a(href='/')
                    h1 55 лет 
                    p Первому полёту человека в космос
        .promo-slider
            .promo-slider-img(style='background: url(img/3.jpg) center no-repeat; background-size: cover;')
            .promo-slider-inner
                a(href='/')
                    h1 Мелодия 
                    p Чайка М
        .promo-slider
            .promo-slider-img(style='background: url(img/4.jpg) center no-repeat; background-size: cover;')
            .promo-slider-inner
                a(href='/')
                    h1 МКС 
                    p Международная космичесская станция

    .row.mb-3.popup-conf.mx-0
        .col-lg-4.col-md-6.col-12.mb-4
            .brick        
                img.brick-img.w-100(src='img/trip-star-city.jpg')
                .brick-inner
                    p.brick-inner-tx Звездный городок        
        .col-lg-4.col-md-6.col-12.mb-4
            .brick        
                img.brick-img.w-100(src='img/trip-kirzach.jpg')
                .brick-inner
                    p.brick-inner-tx Мемориал в г. Киржач        
        .col-lg-4.col-md-6.col-12.mb-4
            .brick        
                img.brick-img.w-100(src='img/trip-ciolkovscky.jpg')
                .brick-inner
                    p.brick-inner-tx На родине К.Э. Циолковского         
        .col-lg-4.col-md-6.col-12.mb-4
            .brick        
                img.brick-img.w-100(src='img/trip-gagarin.jpg')
                .brick-inner
                    p.brick-inner-tx Экскурсия в г. Гагарин         
        .col-lg-4.col-md-6.col-12.mb-4
            .brick        
                img.brick-img.w-100(src='img/trip-cosmos.jpg')
                .brick-inner
                    p.brick-inner-tx Музей Космоса

    .row.youtube
        .col.mb-4
            h4.mb-1 Музей космонавтики в школе №3 г. Ростова посетили 4000 человек
            iframe.w-100.mb-1(height='400px', src='https://www.youtube.com/embed/nCWwoqUYD9c?modestbranding=1', frameborder='0', controls='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')