.container-fluid

  .row.mb-4
    .owl-carousel.owl-theme
        .promo-slider
            .promo-slider-img(style='background: url(img/1.jpg) center no-repeat; background-size: cover;')
            .promo-slider-inner
                h1 Экспанаты 
                p Привет всем
        .promo-slider
            .promo-slider-img(style='background: url(img/2.jpg) center no-repeat; background-size: cover;')
            .promo-slider-inner
                h1 Экспанаты 
                p Привет всем
        .promo-slider
            .promo-slider-img(style='background: url(img/3.jpg) center no-repeat; background-size: cover;')
            .promo-slider-inner
                h1 Экспанаты 
                p Привет всем
        .promo-slider
            .promo-slider-img(style='background: url(img/4.jpg) center no-repeat; background-size: cover;')
            .promo-slider-inner
                h1 Экспанаты 
                p Привет всем

  .row.mb-5.popup-conf
    .col-lg-4.col-md-6.col-12
        a(href='img/trip-cosmos.jpg', title='Конференция EdEXPO-2019')
            img.w-100.mb-2(src='img/trip-cosmos.jpg')
            p.text-center Конференция EdEXPO-2019 
    .col-lg-4.col-md-6.col-12
        a(href='img/trip-kirzach.jpg', title='Тенденции и тренды повышения квалификации учителей')
            img.w-100.mb-2(src='img/trip-kirzach.jpg')
            p.text-center Тенденции и тренды повышения квалификации учителей
    .col-lg-4.col-md-6.col-12
        a(href='img/trip-star-city.jpg', title='Непрерывное образование основные организационные формы и технологии')
            img.w-100.mb-2(src='img/trip-star-city.jpg')
            p.text-center Непрерывное образование основные организационные формы и технологии
    .col-lg-4.col-md-6.col-12
        a(href='img/trip-kirzach.jpg', title='25-й час как успевать и учить, и учиться. Управление собой и своим временем')
            img.w-100.mb-2(src='img/trip-kirzach.jpg')
            p.text-center 25-й час как успевать и учить, и учиться. Управление собой и своим временем


