.container-fluid

    //- .row
    //-     a.show-btn(href='javascript:void(0)', onclick="document.getElementById('envelope').style.display='block';document.getElementById('fade').style.display='block'") &Ocy;&bcy;&rcy;&acy;&tcy;&ncy;&acy;&yacy; &scy;&vcy;&yacy;&zcy;&softcy;
    //-     #envelope.envelope
    //-         a.close-btn(href='javascript:void(0)', onclick="document.getElementById('envelope').style.display='none';document.getElementById('fade').style.display='none'") &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy;
    //-         |      
    //-         h1.title &Ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy; &ncy;&acy;&mcy; &scy;&ocy;&ocy;&bcy;&shchcy;&iecy;&ncy;&icy;&iecy;
    //-         |       
    //-         form(method='post', action='№')
    //-             input.your-name(type='text', name='sender', onclick="this.value='';", onfocus='this.select()', onblur="this.value=!this.value?'* Ваше Имя':this.value;", value='* Ваше Имя')
    //-             | &#x9;
    //-             input.email-address(type='text', name='email', onclick="this.value='';", onfocus='this.select()', onblur="this.value=!this.value?'* Ваш Email':this.value;", value='* Ваш Email')
    //-             | &#x9;
    //-             textarea.your-message &Pcy;&ocy;&zhcy;&acy;&lcy;&ucy;&jcy;&scy;&tcy;&acy;, &vcy;&vcy;&iecy;&dcy;&icy;&tcy;&iecy; &scy;&vcy;&ocy;&iocy; &scy;&ocy;&ocy;&bcy;&shchcy;&iecy;&ncy;&icy;&iecy; &zcy;&dcy;&iecy;&scy;&softcy; ..
    //-             | &#x9;
    //-             input.send-message(type='submit', name='send', value='Отправить')

    .row
        .b-container
            | Sample Text
            p.PopUpShow Show popup
        #popup1.b-popup
            .b-popup-content
                | Text in Popup
                p.PopUpHide Hide popup



    .row
        .owl-carousel.owl-theme.mb-4
            .promo-slider
                .promo-slider-img(style='background: url(img/1.jpg) center no-repeat; background-size: cover;')
                .promo-slider-inner
                    a(href='/')
                        h1.mb-0 Герои 
                    p 
            .promo-slider
                .promo-slider-img(style='background: url(img/2.jpg) center no-repeat; background-size: cover;')
                .promo-slider-inner
                    a(href='/')
                        h1.mb-0 55 лет 
                    p Первому полёту человека в космос
            .promo-slider
                .promo-slider-img(style='background: url(img/3.jpg) center no-repeat; background-size: cover;')
                .promo-slider-inner
                    a(href='/')
                        h1.mb-0 Мелодия 
                    p Чайка М
            .promo-slider
                .promo-slider-img(style='background: url(img/4.jpg) center no-repeat; background-size: cover;')
                .promo-slider-inner
                    a(href='/')
                        h1.mb-0 МКС 
                    p Международная космичесская станция

    .row.mb-3.popup-conf.mx-0
        .col-lg-4.col-md-6.col-12.mb-4
            .brick        
                img.brick-img.w-100(src='img/trip-star-city.jpg')
                .brick-inner
                    p.brick-inner-tx Звездный городок        
        .col-lg-4.col-md-6.col-12.mb-4
            .brick        
                img.brick-img.w-100(src='img/trip-kirzach.jpg')
                .brick-inner
                    p.brick-inner-tx Мемориал в г. Киржач        
        .col-lg-4.col-md-6.col-12.mb-4
            .brick        
                img.brick-img.w-100(src='img/trip-ciolkovscky.jpg')
                .brick-inner
                    p.brick-inner-tx На родине К.Э. Циолковского         
        .col-lg-4.col-md-6.col-12.mb-4
            .brick        
                img.brick-img.w-100(src='img/trip-gagarin.jpg')
                .brick-inner
                    p.brick-inner-tx Экскурсия в г. Гагарин         
        .col-lg-4.col-md-6.col-12.mb-4
            .brick        
                img.brick-img.w-100(src='img/trip-cosmos.jpg')
                .brick-inner
                    p.brick-inner-tx Музей Космоса

    .row.youtube
        .col.mb-4
            h4.mb-1 Музей космонавтики в школе №3 г. Ростова посетили 4000 человек
            iframe.w-100.mb-1(height='400px', src='https://www.youtube.com/embed/nCWwoqUYD9c?modestbranding=1', frameborder='0', controls='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')