.container-fluid
  .row
    .col.mb-4
      #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
          li(data-target='#carouselExampleIndicators', data-slide-to='1')
          li(data-target='#carouselExampleIndicators', data-slide-to='2')
          li(data-target='#carouselExampleIndicators', data-slide-to='3')
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src='img/1.jpg', alt='First slide')
            .carousel-caption.d-none.d-md-block
              h5 МОУ СОШ №3 г. Ростова
              p Музей космонавтики
          .carousel-item
            img.d-block.w-100.img-fluid(src='img/2.jpg', alt='Second slide')
            .carousel-caption.d-none.d-md-block
              h5 МОУ СОШ №3 г. Ростова
              p Музей космонавтики
          .carousel-item
            img.d-block.w-100.img-fluid(src='img/3.jpg', alt='Second slide')
            .carousel-caption.d-none.d-md-block
              h5 МОУ СОШ №3 г. Ростова
              p Музей космонавтики
          .carousel-item
            img.d-block.w-100.img-fluid(src='img/4.jpg', alt='Second slide')
            .carousel-caption.d-none.d-md-block
              h5 МОУ СОШ №3 г. Ростова
              p Музей космонавтики
        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
  
  .row
    .col.mb-4
      .grid
        .grid-sizer
        .gutter-sizer
        .grid-item.grid-item--width2 
          img.w-100(src='img/trip-ciolkovscky.jpg', alt='Second slide')
        .grid-item
          img.w-100(src='img/trip-cosmos.jpg', alt='Second slide')
        .grid-item.grid-item--width2  
          img.w-100(src='img/trip-gagarin.jpg', alt='Second slide')
        .grid-item 
          img.w-100(src='img/trip-kirzach.jpg', alt='Second slide')
        .grid-item 
          img.w-100(src='img/trip-star-city.jpg', alt='Second slide')
        .grid-item.grid-item--width2  
          img.w-100(src='img/trip-kirzach.jpg', alt='Second slide')
        .grid-item 
          img.w-100(src='img/trip-star-city.jpg', alt='Second slide')
        .grid-item.grid-item--width2  
          img.w-100(src='img/trip-cosmos.jpg', alt='Second slide')
