doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='css/style.css')
    title 
      block title
  body
    block main
      
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', crossorigin='anonymous')
    //- script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    //- script(src='js/plugins/jquery.magnific-popup.min.js')
    //- script(src='js/plugins/parsley.min.js')
    script(src='js/plugins/responsiveslides.min.js')
    script(src='js/plugins/masonry.pkgd.min.js')

    //- script(src='js/plugins/prism.js')
    //- script(src='js/plugins/underscore-min.js')
    //- script(src='js/plugins/moment.js')
    //- script(src='js/plugins/clndr.js')


    script(src='js/main.js')