
/* Sticky footer */
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main {
  flex: 1 0 auto;
}


a {
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
    // font-weight: 900;
  }
}


body {
    font-family: 'Comfortaa', 'Open Sans', sans-serif;
}

.promo-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80vh;
  left: 0;
  
  &::before {
    position: absolute;
    z-index: 3;
    top: 0;
    background-color: rgba(5, 5, 5, 0.25);
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }
}

.promo-slider-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.promo-slider-inner {
  position: absolute;
  top: 50%;
  z-index: 4;
  margin: 2rem auto;
  max-width: 80%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  transform: translateY(-50%);
}

.brick {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  // margin: 0 10px 0 10px;
  box-sizing: border-box !important;

  
  &-inner {
    &:hover {
  
      // transform: scale(1.1);
    }

    position: absolute;
    z-index: 2;
    display: flex;
    height: 100%;
    width: 100% ;
    margin: 0 auto;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  
    
    
    &:before {
      border-radius: 10px;
      border: 1px solid rgba(5, 5, 5, 0.25);
      position: absolute;
      z-index: 3;
      top: 0;
      background-color: rgba(5, 5, 5, 0.25);
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
    }

    
    &-tx {
      margin-bottom: 0;
      color: white;
      font-size: 24px;
      text-align: center;
      max-width: 90%;
      z-index: 5;
      cursor: pointer;
    }
  }
}

.footer {
  background: #2c364a;
  color: white;
  // border-top: 1px solid rgba(5, 5, 5, .3); 

  & a {
    color: #969ba5;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  & .msg a:hover {
    color: orange;
  }
}


.address,
.phone,
.mail,
.msg {
  display: flex;
  color: #969ba5;

  &:before {
    font-family: "FontAwesome";
    margin-right: 8px;
  }
}

.address {
  color: white;
  &:before {
    content: '\f041';
  }  
}

.phone {
  &:before {
    content: '\f095';
  }  
}

.mail {
  &:before {
    content: '\f003';
  }  
}

.youtube {
  margin: 0 auto;
}



.b-container{
  width:200px;
  height:150px;
  background-color: #ccc;
  margin:0px auto;
  padding:10px;
  font-size:30px;
  color: #fff;
  z-index: 10;
}
.b-popup{
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position: absolute;
  top:0px;
  z-index: 10;
}
.b-popup .b-popup-content{
  position: relative;
  margin:40px auto 0px auto;
  width: 80%;
  // height: 40px;
  padding:10px;
  background-color: #c5c5c5;
  border-radius:5px;
  box-shadow: 0px 0px 10px #000;
  z-index: 10;
}

.PopUpHide {
  position: absolute;
  right: 20px;
  top: 10px;
}

.form {
  // border: 1px solid gray;
  // border-top: 3px solid gray; 
  padding: 10px;
  border-radius: 10px;

  &__submit {
      border: none;
      color: white;
  }
}

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  background-color: #fff;
  border-radius: 3px;
}
/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}
.hundred {
  width: 100%;
}
.version {
  color: #949494;
  font-size: 0.9em;
}
h3 {
  color: #FF851B;
}
.back-to-top {
  margin-top: 10px;
  margin-left: 10px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
