.container-fluid.pt-3.footer
    .container
        .row
            .col-lg-8.mb-3.text-center
                h4 Музей Космонавтики
                span Муниципальное общеобразовательное учреждение средняя общеобразовательная школа №3 г. Ростова
            .col-lg-4.mb-2
                .address
                    span г. Ростов, ул. Ленинская 39  
                .phone              
                    a(href="mailto:ros.school-3@mail.ru") ros.school-3@mail.ru
                .mail    
                    a(href="tel:+74853674684") +7 (48536) 7-46-84
                .msg    
                    a(href='#') Написать письмо