.container-fluid.navbar-light.bg-light
    .container.pt-3.p-2
        .row
            .col-lg-4.mb-2.text-center
                h4 Адрес
                span Ярославская обл., г. Ростов, 
                br
                span ул. Ленинская 39
            .col-lg-4.mb-2.text-center
                h4 Контактная информация
                a.d-block.ml-2(href="tel:+74853674684") +7 (48536) 7-46-84
                span Муниципальное общеобразовательное учреждение средняя общеобразовательная школа №3
                br
                span г. Ростова
                a.d-block.ml-2(href="mailto:ros.school-3@mail.ru") ros.school-3@mail.ru
            .col-lg-4.mb-2.text-center
                h4 Обратная связь
                span Если у вас возникли какие-либо вопросы, то вы можете написать нам. 
                a.d-block(href='#') Написать письмо