.container-fluid.navbar-light.bg-light
  .row
    nav.navbar.navbar-expand-md
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='./') Музей

          li.nav-item
            a.nav-link(href='./education.html') Экскурсии

          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Поездки
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='./') Звездный городок
              a.dropdown-item(href='./') Мемориал в г. Киржач
              a.dropdown-item(href='./') На родине К.Э. Циолковского 
              a.dropdown-item(href='./') Экскурсия в г. Гагарин 
              a.dropdown-item(href='./') Музей Космоса
      
          li.nav-item
            a.nav-link(href='./blog.html') Блог

          li.nav-item
            a.nav-link(href='./contact.html') Контакты